@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000ca;

  overflow-x: hidden;
  color: #fff;

}
.active {

  font-weight: bold;
  transition-duration: 300ms;
  color: #6366f1;
}
