@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #000000ca;

 overflow-x: hidden;
    color: #fff;
}
.active{
    color: rgb(99 102 241 / var(--tw-text-opacity));
    font-weight: bold;
    transition-duration: 300ms;
}